<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Tasks</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <th>ID</th>
      <th>Название</th>
      <th>Приоритет</th>
      <th>Категория</th>
      <th>Дедлайн</th>
      <th>Статус</th>
      </thead>
      <tbody>
      <tr  *ngFor="let task of tasks">
        <td>{{task.id}}</td>
        <td>{{task.title}}</td>
        <td>приоритет</td>
        <td>категория</td>
        <td>дедлайн</td>
        <td>статус</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
